html
{
	 height:100%;
background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);
	 // rgba(R, G, B, opacity);
}
body
{
	font-family: montserrat; margin: 0px;
}
#header
{
	width:100%;
	color:#ffffff;
	text-transform: uppercase;
	padding: 5px;
	background: linear-gradient(rgb(5,5,155,0.5),rgb(4,140,4,0.4));
	box-shadow: 4px 10px 0px rgb(0, 0, 0, 0.01);
	text-align: center;
}

#registration
{
	width:600px;
	border: 0px;
	padding: 50px;
	margin: 80px auto 50px auto;
	height: auto;
	text-align:center;
	position: relative;
	background: linear-gradient(rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
}


.fs-title
{
	font-size:35px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom:20px;
	text-shadow: 2px 2px 4px #ffffff;
}

.button
{
	//box-shadow: 4px 4px 4px #ffffff;
	height:35px;
	width:80%;
	background: #00000;
	font-color: #00000;
	margin: 10px 30px 10px 30px;
	border:  1px solid #ffffff;
}

.text
{
	//box-shadow: 4px 4px 4px #ffffff;
	background-color: lighter;
	height:35px;
	width:80%;
	background: none;
	border: none;
	border-bottom:  1px solid;
	//border-left: 1px solid;
	//border-right: 1px solid;
	margin: 10px 30px 10px 30px;
	//margin-right:;
	//margin-left:30px;
}